@charset "UTF-8";
@media  print {
    #icon{
        display: none;
    }
    #carrinho{
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width:992px) {

    .fan-produtos{
        width: 30%;
        position: relative;
        top: 50%;
        left: 12%;
    }
}
@media screen and (min-width:992px) {
        section > P{
        display: none;
    }
    .fan-produtos{
        display: flex;
        border: 3px solid rgba(0, 0, 0, 0.678);
        margin: 10px 0;
        overflow: hidden;
        background-color: #a1901e;

    }

    .imagem {
        width: 50%;
    }
    .fan-informacao{
        display: block;
        text-align: center;
        margin: auto;

    }
    .fan-informacao h1{
        font-size: 1.3em;
        color:white;
    }
    .fan-informacao h4{
        font-size: 1.0em;
        color:white;
    }
    .fan-informacao p{
        font-size: 1.3em;
        color:white;
    }
}