@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right,#D3B600,#a1901e);
    font-family: Arial, Helvetica, sans-serif;
}

.fan-pdr{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}


.fan-pdr > img{
    display: block;
    margin: auto;
}
 .menu{
    background-color: #D3B600;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.658) 
}
 .menu > span{
    font-size: 1.5em;
 }
 .fan-menu{
    text-align: center;
    display: none;
 }
.fan-menu > ul > li > a{
    font-weight: bold;
    font-style: italic;
    margin: 10px 0;
    text-decoration: none;
    color: black;
}
.fan-menu > ul > li > a:hover{
    color: white;
}
 


main{
    position: relative;
}
#carrinho{
    position: absolute;
    top: 20px;
    right:25px;
    text-align: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.705);
}
#carrinho > span{
    position: relative;
    top: 3px;
    left: 1px;
    font-size: 2.0;
}

#quantidade{
    position: absolute;
    top: -12px;
    left: 15px;
    background-color: red;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
#quantidade > p{
    margin: auto;
    font-size: 1.0em;
}
#prodCarrinho{
    position: relative;
    display: none;
    right: -15px;
    float: right;
    top: 4px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
}
#addProduto{
    display: block;
}
#addProduto > p{
    font-size: 1.0em;
}
#prodCarrinho  p{
    color: black;
}
#prodCarrinho > a{
    display: block;
    font-weight: bold;
    background-color: aquamarine;
}
.FinalizarCompra{
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    height: 20px;
    background-color: #D3B600;
}
.FinalizarCompra > p{
   margin: auto;    
}
#FinalizarCompra {
    display: flex;
    margin-right: 20px;
    margin: auto;

}
#FinalizarCompra > p{
    margin: auto;
    margin-right: 20px;
    font-weight: bold;
}
button{
    width: 101%;
    border-top: 3px  solid rgba(0, 0, 0, 0.425);
    background-color: #D3B600;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
}
button>a{
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

section > h1{
    text-align: center;
    font-size: 1.6em;
    color: white;
    margin: 10px 0;
    text-shadow: 0px 0px 2px black;
}
section > P{
    text-align: center;
    font-size: 1.3em;
    text-shadow: 0px 0px 2px black;
}



.fanprodutos{ 
    position: relative;
    top: 50%;
    left: 25%;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 90vw;
}
.fan-produtos{
    width: 50vw;
    border: 3px solid rgba(0, 0, 0, 0.678);
    margin: 10px 0;
    overflow: hidden;
    background-color: #a1901e;
}
.imagem {
    width: 100%;
}
.fan-produtos > img:hover{
    transform: rotate(1.8deg);
}
.fan-informacao{
    display: none;
}
.fan-informacao h1,h2,h3,h4,p{
    color: white;
    margin: 10px 0;
    text-shadow: 0px 0px 1px black;
    font-weight: bold;
    font-size: 1.2em;
} 
.btn {
    display: block;
    border-radius: 20px;
    background: white;
    padding: 10px;
    margin: 10px 10px;
}
.btn:hover{
    background-color: cornflowerblue;
}
a{
    color: black;
    text-decoration: none;
}
